@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Lobster&display=swap");

@import "tailwindcss";

@theme {
  /* breakpoints */
  --breakpoint-sm: 340px;
  --breakpoint-md: 540px;
  --breakpoint-lg: 768px;
  --breakpoint-xl: 1180px;
  /* container */
  --container-padding: 12px;
  --container-padding-md: 32px;
  /* fonts */
  --font-jost: "Jost", sans-serif;
  --font-lobster: "Lobster", sans-serif;
}

@layer components {
  .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    max-width: var(--breakpoint-xl); /* твоя xl */
  }

  @media (min-width: 540px) {
    .container {
      padding-left: var(--container-padding-md);
      padding-right: var(--container-padding-md);
    }
  }
}

@layer utilities {
  @keyframes move {
    50% {
      transform: translateY(-1rem);
    }
  }

  .animate-movingY {
    animation: move 3s linear infinite;
  }

  @keyframes rotateLeaf {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .animate-rotating {
    animation: rotateLeaf 15s linear infinite;
  }

  @keyframes scaleUp {
    0% {
      transform: scale(0.8);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(0.8);
    }
  }

  .animate-scalingUp {
    animation: scaleUp 3s linear infinite;
  }
}

html {
  @apply overflow-x-hidden scroll-smooth
}

body {
  @apply bg-green-950 text-white font-jost tracking-wider;
}

.nav-link {
  @apply text-lg font-bold duration-300;
}

.nav-link:hover {
  @apply text-yellow-500;
}

/* active */
.active {
  @apply text-yellow-500
}

section {
  @apply py-20 md:py-28;
}

h1 {
  @apply text-3xl md:text-4xl xl:text-5xl font-bold;
}

h2 {
  @apply text-2xl md:text-3xl xl:text-4xl;
}

h3 {
  @apply text-xl md:text-2xl xl:text-3xl;
}

.title {
  @apply font-lobster text-yellow-500;
}

/* button */
.btn {
  @apply border border-yellow-500 bg-yellow-500 rounded-md px-5
  py-2 duration-300;
}

.btn:hover {
  @apply opacity-90;
}

.btn span {
  @apply font-bold;
}

.btn_outline {
  @apply bg-transparent;
}

.btn_outline:hover {
  @apply bg-yellow-500;
}

.popular_card:hover img {
  @apply -top-8;
}

.swiper-pagination-bullet {
  @apply bg-green-500 w-3 h-3;
}
